@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://pro.fontawesome.com/releases/v5.10.0/css/all.css');

@keyframes burgerOpen{
    from {
        height: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    to {
        height : 550px;
        padding-top: 3%;
        padding-bottom: 3%;
    }
}

@keyframes burgerClose{
    from{
        height: 550px;
        display:block;
        border-top: solid 2px #edb059;
        padding-top: 3%;
        padding-bottom: 3%;
    }
    to {
        display: none;
        height: 0px;
        padding-top: 0%;
        padding-bottom: 0%;
        border-top: none;
    }
}

@keyframes dropDownMenu{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


.nav_container{
    z-index: 99999;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #383838;
}
.navbar{
    display: flex;
    margin-left: 10%;
    width: 80%;
    text-align: left;
    align-items: center;
    &__img {
        max-height: 50px;
        max-width: 75%;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__ul{
        display: block;
        position: fixed;
        padding-top: 3%;
        padding-bottom: 3%;
        top: 62px;
        background-color: #383838;
        border-top: solid 2px #edb059;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0;
        justify-self: center;
        width: 80%;
        flex-wrap: wrap;
        text-align: left;
        height: 550px;
        overflow: hidden;
        animation-duration: 1s;
        animation-name: burgerOpen;
    }
    &__ul_close{
        // display: none;
        position: fixed;
        padding-top: 0%;
        padding-bottom: 0%;
        top: 62px;
        background-color: #383838;
        border: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0;
        justify-self: center;
        width: 80%;
        flex-wrap: wrap;
        text-align: left;
        height: 0px;
        overflow: hidden;
        animation-duration: 1s;
        animation-name: burgerClose;
    }
    &__ul_fl{
        // display: none;
        position: fixed;
        padding-top: 0%;
        padding-bottom: 0%;
        top: 62px;
        background-color: #383838;
        border: none;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0;
        justify-self: center;
        width: 80%;
        flex-wrap: wrap;
        text-align: left;
        height: 0px;
        overflow: hidden;
    }
    &__li{
        margin-top: 25px;
        // display: block;
        margin-left: 10%;
        margin-right: 20px;
        list-style: none;
        color: white;
        font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
        font-size: 14px;
        font-weight: 500;
        cursor: pointer;
        a{
            text-decoration: none;
            color: white;
            &:active{
              color: none;
            }
            &:hover{
              color: #bbbbbb;
            }
            &:visited{
              color:none;
            }
        }
    }
    &__dropdown{
        margin-top: 25px;
        margin-left: 25px;
        overflow: hidden;
        li{
            color: white;
            list-style: none;
            text-align: left;
            margin-bottom: 20px;
        }
        li:hover{
            color: #bbbbbb;
        }
    }
    &__burgericon{
        position: absolute;
        top: 22px;
        right: 10%;
        display: block;
        color: #edb059;
    }
}


@media screen and (min-width: 1025px) {
.burgerincative{
    display:block;
}
.nav_container{
    z-index: 99999;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: #383838;
}
.navbar{
    display: flex;
    margin-left: 10%;
    width: 80%;
    text-align: left;
    align-items: center;
    &__img {
        max-width: 100%;
        max-height: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    &__ul_desktop{
        position: relative;
        top: 0px;
        border: none;
        padding-top: 0px;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 0;
        justify-self: end;
        display: block;
        width: 100%;
        flex-wrap: wrap;
        text-align: right;
        height: 100%;
        animation-duration: 1s;
        animation-name: none;
    }
    &__li{
        margin-top: 25px;
        display: inline-block;
        margin-left: 20px;
        margin-right: 20px;
        list-style: none;
        color: white;
        font-family: 'Montserrat', Helvetica, Arial, Lucida, sans-serif;
        font-size: 18px;
        font-weight: 500;
        cursor: pointer;
        height: 25px;
        a{
            text-decoration: none;
            color: white;
            &:active{
              color: none;
            }
            &:hover{
              color: #bbbbbb;
            }
            &:visited{
              color:none;
            }
        }
    }
    &__dropdown_controller{
        position: relative;
        height: 50px;
    }
    &__dropdown_controller:hover{
        .navbar__dropdown{
            display: block;
        }
    }
    &__dropdown{
        display: none;
        margin-top: 28px;
        margin-left: 0px;
        border-top: 2px solid orange;
        position: absolute;
        background-color: #383838;
        min-width: 250px;
        padding: 12px 16px;
        z-index: 1;
        animation-name: dropDownMenu;
        animation-duration: .4s;
        .dropdown_controller:hover ul{
            display: block;
        }
        li{
            color: white;
            list-style: none;
            text-align: left;
            margin-bottom: 20px;
        }
        li:hover{
            color: #bbbbbb;
        }
    }
    &__burgericon{
        display: none;
    }
}
}
