@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@keyframes hoverlink{
    from{
        opacity: 0;
        margin-left: 0px;
        overflow: hidden;
    }
    to{
        overflow: hidden;
        opacity: 1;
        margin-left: 15px;
    }
}

.top{
    background-image: url("../public/all_printers_lychee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 80px;
    padding-top: 32px;
    padding-bottom: 39px;
    color: white;
    text-align: center;
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    line-height: 1.3em;
    &__image{
        margin-top: 20px;
        max-width: 100%;
        max-height: 140px;
    }
    h1{
        margin-block-start: 0;
        line-height: 1.3em;
        font-size: 63px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    h2{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 23px;
        margin-top: 60px;
        font-weight: 500;
        line-height: 1em;
    }
    &__buttonscontainer{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        font-family: "Open Sans",Arial, sans-serif;
        padding-top: 19px;
        padding-bottom: 20px;
        font-weight: 500;
        font-size: 20px;
        width: 80%;
        :first-child{
            margin-right: 5.5%;
            justify-content: flex-end;
        }
        :last-child{
            margin-right: 0;
        }
        &__buttoncontainer{
            margin-bottom: 25px;
            display: block;
            line-height: 1.7em;
            width: 100%;
            &_button{
                margin-right: 0;
                line-height: 1.7em;
                text-transform: none;
                text-decoration: none;
                color: white;
                padding: .3em 1em;
                background-color: #d1515c;
                border-radius: 3px;
                transition: .5s;
                &:hover::after{
                    animation-name: hoverlink;
                    animation-duration: 1s;
                    width: 100%;
                    opacity: 1;
                    margin-left: 15px;
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 400;
                    content: "\f138";
                }
            }
        }
    }
}

.overview{
    background-color: #e2e2e2!important;
    padding-top: 50px;
    padding-bottom: 80px;
    font-family: "Open Sans",Arial, sans-serif;
    &__container{
        width: 80%;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        &__details{
            color: #2D2D2D;
            font-size: 17px;
            text-align: center;
            padding-bottom: 20px;
            &_text{
                margin-block-start: 0;
                font-weight: 500;
            }
        }
        &__presentation{
            display: grid;
            grid-template-columns: 1fr;
            padding-top: 9px;
            margin-top: 31px;
            &__imagecontainer{
                grid-column: 1;
                margin-inline-start: 0;
                margin-inline-end: 0;
                img{
                    width: 100%;
                }
                figcaption{
                    text-align: right;
                    font-size: 12px;
                    color: #303030;
                    a{
                        text-decoration: none;
                        color: #EDB059;
                    }
                }
            }
            &__textcontainer{
                margin-left: 0;
                margin-right: 0;
                height: 100%;
                padding-top: 1em;
                &__sub{
                    margin-bottom: 6%;
                    &_title{
                        margin-block-start: 0;
                        margin-block-end: 0;
                        padding-bottom: 10px;
                        color: #141414;
                        font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    &_content{
                        color: #2D2D2D;
                        margin-block-start: 0;
                        margin-block-end: 0;
                        line-height: 1.7em;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1025px) {
.top{
    background-size: cover;
    &__buttonscontainer{
        display: inline-flex;
        &__buttoncontainer{
            display: flex;
            margin-bottom: 0;
        }
    }
}
.overview{
    &__container{
        &__presentation{
            grid-template-columns: 67% 33%;
            &__imagecontainer{
                margin-right: 8%
            }
        }
    }
}
}