@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@keyframes hoverlink{
    from{
        opacity: 0;
        margin-left: 0px;
        overflow: hidden;
    }
    to{
        overflow: hidden;
        opacity: 1;
        margin-left: 15px;
    }
}

.top{
    background-image: url("../public/all_printers_lychee.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 80px;
    padding-top: 32px;
    padding-bottom: 39px;
    color: white;
    text-align: center;
    font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
    text-transform: uppercase;
    line-height: 1.3em;
    &__image{
        margin-top: 20px;
        max-width: 100%;
        max-height: 140px;
    }
    h1{
        margin-block-start: 0;
        line-height: 1.3em;
        font-size: 63px;
        font-weight: 500;
        padding-bottom: 10px;
    }
    h2{
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        font-size: 23px;
        margin-top: 60px;
        font-weight: 500;
        line-height: 1em;
    }
    &__buttonscontainer{
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
        font-family: "Open Sans",Arial, sans-serif;
        padding-top: 19px;
        padding-bottom: 20px;
        font-weight: 500;
        font-size: 14px;
        width: 80%;
        :first-child{
            margin-right: 5.5%;
            justify-content: flex-end;
        }
        :last-child{
            margin-right: 0;
        }
        &__buttoncontainer{
            margin-bottom: 25px;
            display: block;
            line-height: 1.7em;
            width: 100%;
            &_button{
                margin-right: 0;
                line-height: 1.7em;
                text-transform: none;
                text-decoration: none;
                color: white;
                padding: .3em 1em;
                background-color: #d1515c;
                border-radius: 3px;
                transition: .5s;
                &:hover::after{
                    animation-name: hoverlink;
                    animation-duration: 1s;
                    width: 100%;
                    opacity: 1;
                    margin-left: 15px;
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 400;
                    content: "\f138";
                }
            }
        }
    }
}
.overview{
    background-color: #e2e2e2!important;
    padding-top: 50px;
    font-family: "Open Sans",Arial, sans-serif;
    &__container{
        width: 80%;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        &__details{
            color: #2D2D2D;
            font-size: 17px;
            text-align: center;
            padding-bottom: 20px;
            &_text{
                margin-block-start: 0;
                font-weight: 500;
            }
        }
        &__presentation{
            display: grid;
            grid-template-columns: 1fr;
            padding-top: 9px;
            margin-top: 31px;    
            &__imagecontainer{
                grid-column: 1;
                margin-inline-start: 0;
                margin-inline-end: 0;
                img{
                    width: 100%;
                }
                figcaption{
                    text-align: right;
                    font-size: 12px;
                    color: #303030;
                    a{
                        text-decoration: none;
                        color: #EDB059;
                    }
                }
            }
            &__textcontainer{
                margin-left: 0;
                margin-right: 0;
                height: 100%;
                padding-top: 1em;
                &__sub{
                    margin-bottom: 6%;
                    &_title{
                        margin-block-start: 0;
                        margin-block-end: 0;
                        padding-bottom: 10px;
                        color: #141414;
                        font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
                        font-size: 18px;
                        font-weight: 600;
                    }
                    &_content{
                        color: #2D2D2D;
                        margin-block-start: 0;
                        margin-block-end: 0;
                        line-height: 1.7em;
                        font-size: 15px;
                        font-weight: 500;
                    }
                }
            }
        }
        &__buttoncontainer{
            padding-top: 40px;
            padding-bottom: 40px;
            width: 100%;
            text-align: center;
            &_button{
                margin-left: auto;
                margin-right: auto;
                border-radius: 5px;
                line-height: 1.7em;
                padding: .3em 1em;
                font-size: 14px;
                color: white;
                background-color: #D1515C;
                i{
                    margin-right: 10px;
                    transform: scaleX(-1);
                }
            }
        }
    }
    &__divider{
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI4N3B4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTEyODAgMy40QzEwNTAuNTkgMTggMTAxOS40IDg0Ljg5IDczNC40MiA4NC44OWMtMzIwIDAtMzIwLTg0LjMtNjQwLTg0LjNDNTkuNC41OSAyOC4yIDEuNiAwIDMuNFYxNDBoMTI4MHoiIGZpbGwtb3BhY2l0eT0iLjMiLz48cGF0aCBkPSJNMCAyNC4zMWM0My40Ni01LjY5IDk0LjU2LTkuMjUgMTU4LjQyLTkuMjUgMzIwIDAgMzIwIDg5LjI0IDY0MCA4OS4yNCAyNTYuMTMgMCAzMDcuMjgtNTcuMTYgNDgxLjU4LTgwVjE0MEgweiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0xMjgwIDUxLjc2Yy0yMDEgMTIuNDktMjQyLjQzIDUzLjQtNTEzLjU4IDUzLjQtMzIwIDAtMzIwLTU3LTY0MC01Ny00OC44NS4wMS05MC4yMSAxLjM1LTEyNi40MiAzLjZWMTQwaDEyODB6Ii8+PC9nPjwvc3ZnPg==);
        height: 87px;
    }
}
.industries{
    padding-top: 80px;
    padding-bottom: 50px;
    width: 100%;
    &__container{
        width: 80%;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        &__details{
            padding: 17px 0;
            &_title{
                color: #141414;
                line-height: 1em;
                font-weight: 500;
                text-align: center;
                font-family: Montserrat,Helvetica,Arial,Lucida,sans-serif;
                padding-bottom: 10px;
                font-size: 24px;
                margin-block-end: 0;
            }
            &_text{
                font-family: Open Sans,Arial,sans-serif;
                font-size: 16px;
                color: #2D2D2D;
                font-weight: 500;
                line-height: 1.7em;
                text-align: center;
            }
        }
        &__gallery{
            display: grid;
            grid-template-columns: 1;
            &__imagecontainer{
                grid-column: 1;
                margin-inline-start: 0;
                margin-inline-end: 0;
                img{
                    width: 100%;
                }
                figcaption{
                    font-family: Open Sans,Arial,sans-serif;
                    text-align: right;
                    font-size: 10px;
                    color: #303030;
                    padding-bottom: 8px;
                    a{
                        text-decoration: none;
                        color: #EDB059;
                    }
                }
                h3{
                    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    padding-top: 7px;
                    padding-bottom: 10px;
                    margin-block-start: 0;
                    margin-block-end: 0;
                }
            }
        }
    }
}
.support{
    width: 100%;
    background-color: #e2e2e2;
    &__container{
        width: 80%;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        &__details{
            padding: 17px 0;
            &_title{
                color: #141414;
                line-height: 1em;
                font-weight: 500;
                text-align: center;
                font-family: Montserrat,Helvetica,Arial,Lucida,sans-serif;
                padding-bottom: 10px;
                margin-block-end: 0;
                font-size: 24px;
            }
            &_text{
                font-family: Open Sans,Arial,sans-serif;
                font-size: 16px;
                color: #2D2D2D;
                font-weight: 500;
                line-height: 1.7em;
                text-align: center;
            }
        }
        &__gallery{
            display: grid;
            grid-template-columns: 1;
            &__imagecontainer{
                grid-column: 1;
                margin-inline-start: 0;
                margin-inline-end: 0;
                img{
                    width: 100%;
                }
                h3{
                    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
                    font-size: 17px;
                    font-weight: 600;
                    text-align: center;
                    padding-top: 7px;
                    padding-bottom: 25px;
                    margin-block-start: 0;
                    margin-block-end: 0;
                }
                p{  
                    margin-block-start: 0px;
                    margin-block-end: 0;
                    font-family: Open Sans,Arial,sans-serif;
                    color: #2D2D2D;
                    font-size: 14px;
                    line-height: 1.7em;
                    font-weight: 500;
                }
            }
        }
    }
    &__divider_top{
        margin-bottom: 50px;
        transform: rotate(180deg);
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI4N3B4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTEyODAgMy40QzEwNTAuNTkgMTggMTAxOS40IDg0Ljg5IDczNC40MiA4NC44OWMtMzIwIDAtMzIwLTg0LjMtNjQwLTg0LjNDNTkuNC41OSAyOC4yIDEuNiAwIDMuNFYxNDBoMTI4MHoiIGZpbGwtb3BhY2l0eT0iLjMiLz48cGF0aCBkPSJNMCAyNC4zMWM0My40Ni01LjY5IDk0LjU2LTkuMjUgMTU4LjQyLTkuMjUgMzIwIDAgMzIwIDg5LjI0IDY0MCA4OS4yNCAyNTYuMTMgMCAzMDcuMjgtNTcuMTYgNDgxLjU4LTgwVjE0MEgweiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0xMjgwIDUxLjc2Yy0yMDEgMTIuNDktMjQyLjQzIDUzLjQtNTEzLjU4IDUzLjQtMzIwIDAtMzIwLTU3LTY0MC01Ny00OC44NS4wMS05MC4yMSAxLjM1LTEyNi40MiAzLjZWMTQwaDEyODB6Ii8+PC9nPjwvc3ZnPg==);
        height: 50px;
    }
    &__divider_bottom{
        margin-top: 50px;
        background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI4N3B4IiB2aWV3Qm94PSIwIDAgMTI4MCAxNDAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0iI2ZmZmZmZiI+PHBhdGggZD0iTTEyODAgMy40QzEwNTAuNTkgMTggMTAxOS40IDg0Ljg5IDczNC40MiA4NC44OWMtMzIwIDAtMzIwLTg0LjMtNjQwLTg0LjNDNTkuNC41OSAyOC4yIDEuNiAwIDMuNFYxNDBoMTI4MHoiIGZpbGwtb3BhY2l0eT0iLjMiLz48cGF0aCBkPSJNMCAyNC4zMWM0My40Ni01LjY5IDk0LjU2LTkuMjUgMTU4LjQyLTkuMjUgMzIwIDAgMzIwIDg5LjI0IDY0MCA4OS4yNCAyNTYuMTMgMCAzMDcuMjgtNTcuMTYgNDgxLjU4LTgwVjE0MEgweiIgZmlsbC1vcGFjaXR5PSIuNSIvPjxwYXRoIGQ9Ik0xMjgwIDUxLjc2Yy0yMDEgMTIuNDktMjQyLjQzIDUzLjQtNTEzLjU4IDUzLjQtMzIwIDAtMzIwLTU3LTY0MC01Ny00OC44NS4wMS05MC4yMSAxLjM1LTEyNi40MiAzLjZWMTQwaDEyODB6Ii8+PC9nPjwvc3ZnPg==);
        height: 50px;
    }
}
.rtoperations{
    width: 100%;
    &__container{
        width: 80%;
        max-width: 1600px;
        margin-left: auto;
        margin-right: auto;
        &__details{
            padding: 17px 0;
            &_title{
                color: #141414;
                line-height: 1em;
                font-weight: 500;
                text-align: center;
                font-family: Montserrat,Helvetica,Arial,Lucida,sans-serif;
                padding-bottom: 10px;
                margin-block-end: 0;
                font-size: 24px;
            }
            &_text{
                font-family: Open Sans,Arial,sans-serif;
                font-size: 16px;
                color: #2D2D2D;
                font-weight: 500;
                line-height: 1.7em;
                text-align: center;
                padding-bottom: 30px;
            }
        }
        &__gallery{
            display: grid;
            grid-template-columns: 1;
            &__imagecontainer{
                grid-column: 1;
                margin-inline-start: 0;
                margin-inline-end: 0;
                img{
                    width: 100%;
                }
                h3{
                    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
                    font-size: 20px;
                    font-weight: 500;
                    text-align: left;
                    padding-top: 7px;
                    padding-bottom: 10px;
                    margin-block-start: 0;
                    margin-block-end: 0;
                    line-height: 1em;
                }
                p{  
                    margin-block-start: 0px;
                    padding-bottom: 20px;
                    font-family: Open Sans,Arial,sans-serif;
                    color: #2D2D2D;
                    font-size: 14px;
                    line-height: 1.7em;
                    font-weight: 500;
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .top{
        background-size: cover;
        &__buttonscontainer{
            margin-left: auto;
            margin-right: auto;
            grid-template-columns: 1fr 1fr;
            &__buttoncontainer{
                margin-bottom: 0;
                &_button{
                    font-size: 16px;
                }
            }
        }
    }
    .overview{
        &__container{
            &__presentation{
                grid-template-columns: 67% 33%;
                &__imagecontainer{
                    margin-right: 8%
                }
            }
            &__buttoncontainer{
                &_button{
                    font-size: 31px;
                }
            }
        }
    }
    .industries{
        &__container{
            &__details{
                padding: 17px 0;
            }
            &__gallery{
                display: grid;
                grid-template-columns: 1fr 1fr;
                :nth-child(2n+1){
                    margin-right: 15px;
                }
                :nth-child(2n){
                    margin-left: 15px;
                }
                &__imagecontainer{
                    grid-column: auto;
                    figcaption{
                        a{
                            margin-right: 0px!important;
                            margin-left: 0px!important;
                        }
                    }
                    h3{
                        margin-right: 0px!important;
                        margin-left: 0px!important;
                    }
                }
            }
        }
    }
    .support{
        &__container{
            &__details{
                padding: 17px 0;
            }
            &__gallery{
                display: grid;
                grid-template-columns: 1fr 1fr;
                :nth-child(2n+1){
                    margin-right: 15px;
                }
                :nth-child(2n){
                    margin-left: 15px;
                }
                &__imagecontainer{
                    grid-column: auto;
                    figcaption{
                        a{
                            margin-right: 0px!important;
                            margin-left: 0px!important;
                        }
                    }
                    h3{
                        margin-right: 0px!important;
                        margin-left: 0px!important;
                    }
                }
            }
        }
    }
    .industries{
        &__container{
            &__details{
                padding: 17px 0;
            }
            &__gallery{
                display: grid;
                grid-template-columns: 1fr 1fr;
                :nth-child(2n+1){
                    margin-right: 15px;
                }
                :nth-child(2n){
                    margin-left: 15px;
                }
                &__imagecontainer{
                    grid-column: auto;
                    figcaption{
                        a{
                            margin-right: 0px!important;
                            margin-left: 0px!important;
                        }
                    }
                    h3{
                        margin-right: 0px!important;
                        margin-left: 0px!important;
                    }
                }
            }
        }
    }
    .rtoperations{
        &__container{
            &__details{
                padding: 17px 0;
                &_title{
                    font-size: 37px;
                }
            }
        }
    }
}
@media screen and (min-width: 1025px) {
    .top{
        background-size: cover;
        &__buttonscontainer{
            display: inline-flex;
            &__buttoncontainer{
                display: flex;
                margin-bottom: 0;
                &_button{
                    font-size: 20px;
                }
            }
        }
    }
    .overview{
        &__container{
            &__presentation{
                grid-template-columns: 67% 33%;
                &__imagecontainer{
                    margin-right: 8%
                }
            }
            &__buttoncontainer{
                &_button{
                    font-size: 31px;
                }
            }
        }
    }
    .industries{
        &__container{
            &__details{
                padding: 17px 0;
                    &_title{
                        font-size: 37px;
                    }
                }
            &__gallery{
                display: grid;
                grid-gap: 80px;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                :nth-child(2n+1){
                    margin-right: 0px;
                }
                :nth-child(2n){
                    margin-left: 0px;
                }
                &__imagecontainer{
                    grid-column: auto;
                    figcaption{
                        a{
                            margin-right: 0px!important;
                            margin-left: 0px!important;
                        }
                    }
                    h3{
                        margin-right: 0px!important;
                        margin-left: 0px!important;
                    }
                }
            }
        }
    }
    .support{
        &__container{
            &__details{
                padding: 17px 0;
                    &_title{
                        font-size: 37px;
                    }
                }
            &__gallery{
                display: grid;
                grid-gap: 80px;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                :nth-child(2n+1){
                    margin-right: 0px;
                }
                :nth-child(2n){
                    margin-left: 0px;
                }
                &__imagecontainer{
                    grid-column: auto;
                    figcaption{
                        a{
                            margin-right: 0px!important;
                            margin-left: 0px!important;
                        }
                    }
                    h3{
                        margin-right: 0px!important;
                        margin-left: 0px!important;
                    }
                }
            }
        }
    }
    .rtoperations{
        &__container{
            &__details{
                padding: 17px 0;
                    &_title{
                        font-size: 37px;
                    }
                }
            &__gallery{
                display: grid;
                grid-gap: 80px;
                grid-template-columns: 1fr 1fr 1fr;
                :nth-child(2n+1){
                    margin-right: 0px;
                }
                :nth-child(2n){
                    margin-left: 0px;
                }
                &__imagecontainer{
                    grid-column: auto;
                    figcaption{
                        a{
                            margin-right: 0px!important;
                            margin-left: 0px!important;
                        }
                    }
                    h3{
                        margin-right: 0px!important;
                        margin-left: 0px!important;
                    }
                }
            }
        }
    }
}